<nav class="navigation">
    <div class="navigation_wrapper">
        <a href="/" class="nav_link">Floema
            <svg class="nav_link_icon">
                <ul class="nav_list">
                    <li class="nav_list_item">
                        <a href="/about" class="nav__list_link">About</a>
                    </li>
                    <li class="nav_list_item">
                        <a href="/collections" class="nav__list_link">Collections</a>
                    </li>
                </ul>
            </svg>
        </a>
    </div>
</nav>